<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ADI Practice</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File 4.0.0-->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files for Animations and Fonts-->
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <!-- JQuery JS -->
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <!-- Moment JS -->
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <!-- Main Stylesheet File -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
        <div class="container">
            <!-- Header Logo -->
            <div id="logo" class="pull-left">
                <h3><a href="/">ADI - Lukas Geiger</a></h3>
            </div>
            <!-- NavBar Menu -->
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                     <li><a href="{{url_for('main')}}">Back</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!-- Content -->
    <!-- Main content -->
    <section id="hero">
        <div class="hero-container">
            <!-- Handles any alerts -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="text-center alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="main-content fadeInDown">
                <h1>Please enter your access token</h1>
                <form method="POST">
                    <input name="text">
                    <input type="submit" class="btn-get-started" style="color:black">
                </form>
            </div>
        </div>
    </section>
    <!-- JavaScript Libraries -->
    <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/superfish/hoverIntent.js"></script>
    <script src="../static/lib/superfish/superfish.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="../static/js/main.js"></script>
</body>

</html>
